// Tipografia
$fonte-normal: "GandhiSansRegular";
$fonte-bold: "GandhiSansBold";
//Cores
$cor-do-texto: #591a19;
$azul-escuro: #f3cbc3;
$azul-claro: #f3cbc3;
$azul-rodape: #ae7874;
$rosa: #ffffff;
$roxo: #0a0a0a;
$cinza-claro: #591a19;
$tag-color: rgba(148, 163, 184,0.3);
$cor-do-text-menu: rgb(0, 0, 0)